{% extends 'base.html' %}

{% block content %}

<div class='w3-container' style="background-color:#34495E; font-size:1vw"  id='everything'>
  <div class='w3-panel w3-blue-grey w3-round w3-border' style='height:85vh'>
    <h2>COVID-19 University Simulator </h2>
    <h3>Simulator: <span style="font-size:18px">The tool is open access and can be used for your own analyses.</span></h3>
    <h3>Methods:
      <span style="font-size:18px">
        <a href='https://www.medrxiv.org/content/10.1101/2020.07.21.20158303v1.full.pdf'>
          Pre-print (Click Here)
        </a>
      </span>
    </h3>
    <h3>Model:
      <span style="font-size:18px">
        <a href='https://github.com/diseasemodeling/COVID-University'>
          Our Github
        </a>
      </span>
    </h3>
    <h3>Authors:
      <span style="font-size:18px">
        Developed by the Disease Modeling Lab, Industrial Engineering, University of Massachusetts Amherst
      </span>
    </h3>
    <ul>
      <li>Simulation model development: Xinmeng Zhao, Shalome Hanisha Anand Tatapudi</li>
      <li>Software development: Ron Mallach, Dennis Hoffman</li>
      <li>Assistance (in data collection and literatures review, etc.): Sonza Singh, Shifali Bansal, Seyedeh Nazanin Khatami, Arman Mohseni Kabir</li>
      <li>Lab PI: Dr. Chaitra Gopalappa</li>
    </ul>
    <h3> For questions, comments, or interests in collaborations please contact: </h3>
    <ul>
      <li> Dr. Chaitra Gopalappa </li>
      <li>Email: chaitrag@umass.edu</li>
      <li>Blog:
        <a href='https://blogs.umass.edu/chaitrag/chaitra-gopalappa/'>
        Diseal Modeling Lab, University of Massachusetts Amherst
        </a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
