{% extends 'base.html' %}

{% block content %}

<div class='w3-container' style="background-color:#34495E; font-size:1vw"  id='everything'>
  <div class='w3-panel w3-blue-grey w3-round w3-border' style='height:85vh'>
    <div>
      Short Descriptions and link to Github
    </div>
    <a href='https://github.com/diseasemodeling/COVID-University'> Our Github</a>
    <div>Developed by the Disease Modeling Lab, Industrial Engineering, University of Massachusetts Amherst</div>
    <div>Simulation model development: Xinmeng, Hanisha</div>
    <div>Software development: Ron, Dennis</div>
    <div>Assistance (in data collection and literatures review, etc.): Sonza, Shifali, Nazanin, Arman</div>
    <div> Lab PI: Gopalappa</div>
  </div>
</div>

{% endblock %}
